body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.letter-wrapper {
  text-align: center;
  padding: 20px;
}

.letter {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

p {
  margin: 10px 0;
}

.address {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
}

.writer {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-size: 18px;
  margin-top: 20px;
  color: #888;
}

a {
  text-decoration: none;
  color: #ff0000;
}

a:hover {
  text-decoration: underline;
}
